@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,300&display=swap');
*{
    color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container__nav{
    height: 70px;
}

.SectionMenu{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../images/Playacristalheader.jpg);
    object-fit: center;
    background-color: gray;
    color: #fcbd10;
}
.SectionMenu h1{
    font-size: 70px;
    margin: 0;
    color: #fcbd10;
}
.SectionMenu p{
    font-size: 20px;
    color: #fcbd10;
}
.hrcristal{
    border: none;
    border-bottom: 3px solid #fcbd10;
    width: 50%;
    margin: 10px 0 15px 0 ;
}
.InfoP{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center !important;
    text-align: center;
    font-size: 18px;
    padding:40px;
    flex-direction: column;
}
.InfoP div{
    margin-top: 30px;
}
.ubication{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-around;
}
.InfoBeach{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 20px;
}
.TittleBeach{
    font-size: 40px;
    font-weight: 600;
}
.imageUbication{
    width: 40%;
    background-color: gray;
    border-radius: 15px;
}
.HowGo{
    width: 100%;
    height: 50px;
    font-size: 30px;
    text-align: center;
    margin: 5px 0 0 0;
    font-weight: 600;
    display: center;
    align-items: center;
    justify-content: center;
}
.MoreInfo{
    display: flex;
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
    padding: 20px 20px;
}
.InfoOne{
    width: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
    overflow-y: auto;
    border: 2px solid #fcbd10 ;
    border-radius: 8px 0 0 8px;
}
.InfoOne p{
    padding: 10px;
}
.InfoTwo{
    width: 50%;
    padding: 10px;
    overflow-y: auto;
    border: 2px solid #fcbd10 ;
    display: grid;
    place-items: center;
    border-left: none;
    border-radius: 0 8px 8px 0;
}
.InfoTwo p{
    padding: 10px;
    font-size: 18px;

}
.Note{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.InfoNote{
    height: 210px;
    width: 500px;
    border: 2px solid #fcbd10;
    border-radius: 14px;
    margin: 20px 20px;
    padding: 15px;
    font-size: 18px;

}
.InfoNoteTwo{
    height: 370px;
    width: 500px;
    border: 2px solid #fcbd10;
    border-radius: 14px;
    margin: 20px 20px;
    padding: 35px;
    display: grid;
    place-items: center;

}
.TextWeight{
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px
}
.InfoNoteTwo ol{
    font-size: 18px;
}
.GridNote{
    height: 300px;
}
#CintoInfo{
    height: 180px;
}
#NoteCinto{
    height: 300px;
}
#UbiBuri{
    margin-top: 25px;
    
}
#Justify{
    text-align: justify;
    padding: 0 20px;
}
#TittleNote{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav__title a{
    text-decoration: none;
}
/*IMAGES FOR PAGES HEADER*/
/*cristal*/
#ImageSectionMenuCristal{
    background-image: url(../images/sites/Playa\ Cristal.jpg);
    background-position: center;
    background-image: cover;
}
/*Cinto*/
#ImageSectionMenuCinto{
    background-image: url(../images/sites/cinto.jpg);
    background-position: center;
    background-image: cover;    
}
/*Buritaca*/
#ImageSectionMenuBuri{
    background-image: url(../images/sites/buritaca.jpeg);
    background-position: center;
    background-image: cover;   
}

/*Responsive Mobile*/
@media screen and (max-width:425px){
    /*Cinto*/
    #container-nav{
        justify-content: space-between;
    }
    .SectionMenu{
        text-align: center;
    }
    .InfoP{
        height: 490px;
    }
    .Note{
        flex-direction: column;
    }
    .GridNote{
        height: 130px;
    }
    .InfoNote{
        width: 380px;
    }
    .InfoNoteTwo{
        width: 380px;
    }

    /*Cristal*/
    #InfoPCristal{
        height: 400px;
    }
    .ubication{
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 500px;
    }
    .MoreInfo{
        flex-direction: column;
        height: 600px;
    }
    #InfoNoteTwoCristal{
        height: 400px;
    }
    .GridNote{
        height: 100%;
    }
    #NoteCristal{
        height: 800px;
    }
    #InfoNoteCristal{
        width: 380px;
        height: 260px;
    }
    #InfoCristal{
        width: 380px;
        margin: 15px 0;
        border-radius: 15px !important;
    }

    .MoreInfo{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #imageUbicationNone{
        display: none;
    }
    /*Buritaca*/
    #InfoPBuri{
        height: 350px;
    }
    #Justify{
        width: 350px;
    }
    #UbiBuri{
        height: 800px;
    }
}
/*Responsive tablet*/
@media screen and (min-width: 426px) and (min-width: 768px){
    .InfoP{
        height: 200px;
    }
}