<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buritaca</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="../css/newstyle.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="..css/superheadermobile.css">
    <link rel="shortcut icon" href="../images/LOGO 04.png" type="image/x-icon">
</head>

<body>
    <article class="container__nav">
        <nav id="container-nav" class="nav container">
            <div class="nav__logo">
                <h2  class="nav__title">
                    <a href="../index.html">TRAVELAND TOURISM.</a>
                </h2>
            </div>
            <div class="nav__menu-toggle">
                <img src="../images/menu.svg" class="nav__img" id="menu-toggle">
            </div>
            <ul class="nav__link nav__link--menu" id="nav-links">
                <li class="nav__items">
                    <a href="../index.html" class="nav__links">INICIO</a>
                </li>
                <li class="nav__items">
                    <a href="nuestro-equipo.html" class="nav__links">ACERCA DE</a>
                </li>
                <li class="nav__items">
                    <a href="#article__slider" class="nav__links">SITIOS-MES</a>
                </li>
                <li class="nav__items">
                    <a href="#redes__sociales" class="nav__links">CONTACTO</a>
                </li>
                <li class="nav__items">
                    <a href="spot.html" class="nav__links">SPOT</a>
                </li>
            </ul>
        </nav>
    </article>
    <div id="ImageSectionMenuBuri" class="SectionMenu">
        <h1>BURITACA</h1>
        <div class="hrcristal"></div>
        <p>Buritaca es un estuario, aquel lugar en donde confluye la desembocadura de un río con el agua 
            salada del mar</p>
    </div>
    <div id="InfoPBuri" class="InfoP">
        <p>Un accidente geográfico que permite disfrutar de las bondades del agua dulce y 
            la playa al mismo tiempo. <br>
            El río Buritaca nace en el corazón de lo alto de la Sierra Nevada de Santa Marta. <br> Durante su 
            camino baña la montaña con agua fresca hasta encontrarse con el inmenso mar Caribe en la 
            población de Bocas de Buritaca, a una hora y quince minutos de la capital del magdalena.
        <div class="hrcristal"></div>
    </div>
    <div id="UbiBuri" class="ubication">
        <div class="InfoBeach">
            <p class="TittleBeach">Cuanto cuesta la entrada?</p>
            <div class="hrcristal"></div>
            <div>
                <p id="Justify">La entrada a la playa cuesta 15.000 pesos por persona, esto incluye parqueadero, servicios de 
                    salvavidas y seguridad en la playa. <br>
                     Al estacionar, se debe atravesar caminando un pequeño 
                    tramo de la población, que está compuesta por coloridas casas costeras inundadas de 
                    comercio. Tras no más de cinco minutos, se encuentra de frente con el río y a lo lejos el infinito 
                    mar Caribe. <br>
                    Esa parte del río sigue siendo lo suficientemente profunda como para pagar 5.000 pesos más 
                    por el servicio de lancha que transporta a las personas hasta la otra orilla, en donde se 
                    encuentra la playa. Algunos prefieren ir hasta el punto de encuentro de las aguas "que es el 
                    más superficial" y pasar caminando con todos sus objetos alzados. <br> Dependiendo del día la 
                    profundidad puede variar</p>
            </div>
        </div>
        <div id="imageUbicationNone" class="imageUbicationBuri">
            <img src="" alt="">
        </div>
    </div>
    <div class="Note">
        <div id="TittleNote" class="InfoNote">
            <p class="TextWeight">
                Costos aproximados
            </p>
        </div>
        <div  class="InfoNoteTwo">
            <div id="TittleNote" class="GridNote">
                    <ol>
                        <li>
                            parqueadero
                        </li>
                        $17.000 para carro particular, $7.000 para motos. 
                        <li>
                            Transporte
                        </li>
                        Bus desde el mercado de la ciudad hasta Buritaca, tiene el valor de $10.000 COP 
                        aproximadamente
                    </ol>
            </div>
        </div>
    </div>
    
</body>

</html>