<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chunnu-traveland</title>
    <link rel="shortcut icon" href="../images/LOGO 04.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="..css/superheadermobile.css">

    <link rel="shortcut icon" href="../images/LOGO 04.png" type="image/x-icon">
</head>
<body>
  <article class="container__nav">
    <nav id="container-nav" class="nav container">
      <div class="nav__logo">
        <h2 class="nav__title">
            <a href="../index.html">TRAVELAND TOURISM.</a>
        </h2>
    </div>
        <div class="nav__menu-toggle">
            <img src="../images/menu.svg" class="nav__img" id="menu-toggle">
        </div>
        <ul class="nav__link nav__link--menu" id="nav-links">
            <li class="nav__items">
                <a href="../index.html" class="nav__links">INICIO</a>
            </li>
            <li class="nav__items">
                <a href="nuestro-equipo.html" class="nav__links">ACERCA DE</a>
            </li>
            <li class="nav__items">
                <a href="#article__slider" class="nav__links">SITIOS-MES</a>
            </li>
            <li class="nav__items">
                <a href="#redes__sociales" class="nav__links">CONTACTO</a>
            </li>
            <li class="nav__items">
                <a href="spot.html" class="nav__links">SPOT</a>
            </li>
        </ul>
    </nav>
</article>

    
    <div class="header__chunnu">
        <div id="fondo" class="header__chunnu">
        <div class="caja-chunnu">
            <h2 class="title-chunnu">CHUNNU</h2>
            <div class="hz">
                <div></div>
            </div>
            <p class="parrafo-chunnu">Ofrecen más que alojamiento y experiencias inolvidables.</p>
        </div>
        </div>
    </div>

    <div class="intro-chunnu">
        <p class="parrafo-intro">Están ubicados a la orilla del río de
            Minca y cuentan con diferentes escenarios que brindan comodidad en medio de la naturaleza.
            Se ubican en un sitio que cuenta con la visita de innumerables especies de flora y fauna que
            hacen que el turista pueda disfrutar de la naturaleza que ofrece la Sierra Nevada de Santa
            Marta.
            </p>
    </div>
    <div class="hx">
        <div></div>
    </div>

    <div class="contenedor">
        <div class="contenido-izquierda">
          <h2>¿Que nos ofrece?</h2>
          <p>Este tiene distintos tipos de habitaciones, piscina, Jacuzzi, red, bar, rio, mirador y muchas cosas más. Está lleno de detalles y es hermoso!. Es un excelente lugar para compartir en
            familia, y disfrutar del ambiente natural que se respira.</p>
        </div>
        <div class="contenido-derecha">
          <div class="fila">
            <div class="imagen-1"><img class="imagen-2"src="../images/chunnu1.JPG" alt=""></div>
            <div class="imagen-1"><img class="imagen-2" src="../images/chunu2.png" alt=""></div>
          </div>
          <div class="fila">
            <div class="imagen-1"><img  class="imagen-2" src="../images/chunnu3.png" alt=""></div>
          </div>
        </div>
      </div>

      <div class="precios-title">
        <h2>PRECIOS</h2>
    </div>
      <div class="contenedor-card">
        <div class="card">
          <h3>Tour Especial</h3>
          <p>Acceso a todas las áreas del hotel. 1 hora de bicicleta para pasear por el pueblo o los alrededores. Almuerzo incluido (opciones limitadas)</p>
          <p><b>Precio: $75.000 pesos por persona con IVA</b></p>
        </div>
        <div class="card">
        <h3>Pasadía con Glamping</h3>
        <p>Acceso a todas las áreas del hotel. 1 hora de bicicleta para pasear por el pueblo o los alrededores. Alojamiento durante el pasadía en Glamping. Almuerzo incluido (opciones limitadas)</p>
        <p><b>Precio: $119.000 pesos por persona con IVA</b></p>
        </div>
        <div class="card">
          <h3>Pasadía Escápate Luxury</h3>
          <p>Acceso a todas las áreas del hotel. 1 hora de bicicleta para pasear por</b> el pueblo o los alrededores. Alojamiento durante el pasadía en habitación luxury a la orilla del río. Almuerzo incluido (opciones limitadas)</p>
          <p><b>Precio: $154.700 pesos por persona con IVA</b></p>
        </div>
      </div>

      <div class="hz">
        <div></div>
    </div>
      <div class="ubicacion-chunnu">
        <h2 class="comollegar">¿Cómo llegar?</h2>
        <p class="parrafo-llegar">Para llegar a Minca, debes pasar por una carretera de 14 km que parte de Santa Marta y   se recorre en 30 minutos en automóvil o moto o también desde el mercado de Santa Marta puedes tomar un bus que va directo a Minca. Estas busetas salen cada 30 minutos y tienen un costo de $8,000 COP por persona. Al ésta dejarte en la entrada de Minca, tendrás que caminar solo 12 minutos hacía Chünü’ü</p>
        <div class="ubicacion-imagen">
            <img src="../images/chunnu-ubui.PNG" alt="Ubicación">
          </div>
          <div class="hf">
            <div></div>
            <script src="../js/menu2.js"></script>
</body>
</html>