<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./images/LOGO 04.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="shortcut icon" href="../images/LOGO 04.png" type="image/x-icon">
    <title>TRAVELAND-EXPLORA</title>
</head>
<body>
    <article class="container__nav">
        <nav class="nav container">
            <div class="nav__logo">
                <h2 class="nav__title">TRAVELAND TOURISM.</h2>
            </div>
            <div class="nav__menu-toggle">
                <img src="../images/menu.svg" class="nav__img" id="menu-toggle">
            </div>
            <ul class="nav__link nav__link--menu" id="nav-links">
                <li class="nav__items">
                    <a href="../index.html" class="nav__links">INICIO</a>
                </li>
                <li class="nav__items">
                    <a href="nuestro-equipo.html" class="nav__links">ACERCA DE</a>
                </li>
                <li class="nav__items">
                    <a href="#article__slider" class="nav__links">SITIOS-MES</a>
                </li>
                <li class="nav__items">
                    <a href="#redes__sociales" class="nav__links">CONTACTO</a>
                </li>
                <li class="nav__items">
                    <a href="spot.html" class="nav__links">SPOT</a>
                </li>
            </ul>
        </nav>
</article>
    
        <div class="explora__articles">
        <article class="explora1__">
            <img src="../images/plane.svg" class="explora__icons">
            <h1 class="explora__title">SITIOS CON TRAVELAND!</h1>
            <p class="explora__paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam ut, voluptas ad, tenetur expedita dolores culpa beatae facilis voluptate deleniti illum placeat porro, quo accusamus ex corrupti numquam eos ullam.</p>
            <a href="SITIOS-TRAVELAND.html" class="explora__button">EXPLORA YA</a>
        </article>
        </div>

        <script src="../js/menu2.js"></script>
</body>
</html>