<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mendihuaca</title>
    <link rel="shortcut icon" href="../images/LOGO 04.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/newstyle.css">

    <link rel="stylesheet" href="..css/superheadermobile.css">

    <link rel="shortcut icon" href="../images/LOGO 04.png" type="image/x-icon">
</head>
<body>
    <article class="container__nav">
        <nav id="container-nav" class="nav container">
            <div class="nav__logo">
                <h2 class="nav__title">
                    <a href="../index.html">TRAVELAND TOURISM.</a>
                </h2>
            </div>
            <div class="nav__menu-toggle">
                <img src="../images/menu.svg" class="nav__img" id="menu-toggle">
            </div>
            <ul class="nav__link nav__link--menu" id="nav-links">
                <li class="nav__items">
                    <a href="../index.html" class="nav__links">INICIO</a>
                </li>
                <li class="nav__items">
                    <a href="nuestro-equipo.html" class="nav__links">ACERCA DE</a>
                </li>
                <li class="nav__items">
                    <a href="#article__slider" class="nav__links">SITIOS-MES</a>
                </li>
                <li class="nav__items">
                    <a href="#redes__sociales" class="nav__links">CONTACTO</a>
                </li>
            <!--

                <li class="nav__items">
                    <a href="spot.html" class="nav__links">SPOT</a>
                </li>
            -->

            </ul>
        </nav>
</article>
    <header class="header">
        <div class="texto-header">
        <h1>Mendihuaca</h1>
        <p>Un Rincón de Maravillas Naturales en Santa Marta</p>
        </div>
    </header>
    <div class="intro-mendihuaca">
        <p class="parrafo-mendihuaca">Mendihuaca es un lugar paradisíaco ubicado en las cercanías del Parque Nacional Natural Tayrona, en la hermosa ciudad de Santa Marta. Este resort ofrece a los visitantes una experiencia única, permitiéndoles explorar y disfrutar de las maravillas naturales de la región.
            </p>
    </div>
    <div class="hx">
        <div></div>
    </div>
    <div class="contenedor-mendi">
        <div class="informacion-mendi">
        <h2>Ubicación Estratégica</h2>
        <p>
            El resort de Mendihuaca goza de una ubicación privilegiada, a tan solo cinco minutos del Parque Nacional Natural Tayrona. Esta cercanía brinda a los visitantes fácil acceso a las playas, senderos y biodiversidad de este parque nacional reconocido a nivel mundial.
        </p>
        </div>
        <div class="fotos-mendi">
        <div class="foto-mend"><img class="foto-mendi" src="../images/mendi1.jpg" alt=""></div>
        <div class="foto-mend"><img class="foto-mendi" src="../images/mendi2.jpg" alt=""></div>
        </div>
        <div class="fotos-mendi">
        <div class="foto-mend"><img class="foto-mendi" src="../images/mendi3.jpeg" alt=""></div>
        <div class="foto-mend"><img class="foto-mendi" src="../images/mendi4.jpg" alt=""></div>
        </div>
    </div>
    <div class="precios-title">
        <h2>ATRACCIONES CERCA</h2>
    <div class="contenedor-cardmendi">
        <div class="card-mendi">
        <h3>El Zaino</h3>
        <p>A tan solo 5 minutos en bus desde Mendihuaca, El Zaino es un punto estratégico para explorar las bellezas naturales de la región, incluyendo playas y senderos.</p>
        <div class="contenedor-boton">
            <a href="https://www.tripadvisor.co/Tourism-g14769881-El_Zaino_Tayrona_National_Park_Santa_Marta_Municipality_Magdalena_Department-Vacations.html" class="boton-card">MAS INFO AQUI</a>
        </div>
        </div>
        <div class="card-mendi">
        <h3>Mendihuaca Surf</h3>
        <p>A poca distancia de Mendihuaca, este es un lugar popular para los amantes del surf, que buscan disfrutar de las olas del Mar Caribe.</p>
        <div class="contenedor-boton">
            <a href="https://www.hostelworld.com/st/hostels/p/317475/mendihuaca-surf-camp/?source=ppc_gooads_nonbrand_dsk_search_pn_en_fi&network=g&campaign_id=20144842241&adgroup_id=153011755560&criteria_id=kwd-2090458026381&creative_id=666240625818&location_physical_id=1003661&location_interest_id=null&adposition=null&uniqueclickID=5010710715583762834&sub_keyword=mendihuaca%20surf%20camp&sub_ad=e&sub_publisher=ADW&gclsrc=aw.ds&gad=1&gclid=CjwKCAjwyY6pBhA9EiwAMzmfwQSN-_atvitX_xChIWXD3jUR0WirQ8FpLULnijondgWvYUyAICuvQBoC_3gQAvD_BwE" class="boton-card">MAS INFO AQUI</a>
        </div>
        </div>
        <div class="card-mendi">
        <h3>Pueblito del Parque Tayrona</h3>
        <p>Situado en Calabazo, a 20 minutos en bus desde Mendihuaca Surf, es una entrada recomendada para aquellos que buscan una experiencia aventurera y auténtica en el Parque Tayrona. Ofrece acceso a famosas playas de arrecifes, piscinas naturales y Cabo San Juan.</p>
        <div class="contenedor-boton">
        <a href="https://www.alltrails.com/es/ruta/colombia/magdalena/calabazo-pueblito-arrecifes" class="boton-card">MAS INFO AQUI</a>
        </div>
        </div>
    </div>
    </div>
    
    <div class="title-ubi">
        <h2 class="titulo-comollegar">Cómo Llegar</h2>
    </div>
    <div class="contenedor-ubi">
        <div class="ubicacion-container">
            <div class="ubicacion-info">
        <p class="parrafo-llegar">Si vienes desde el aeropuerto puedes tomar el bus que sale de ahí al "mercado" de Santa Marta o si llegas en bus, asegúrate de bajarte en el "mercado". Desde ahí se toma un bus hacia Palomino y te bajas en la parada de Costeño Beach / Playa Mendihuaca. Ahí tomas una moto para llegar a la playa Mendihuaca. <br>Si vienes en auto tomas la Troncal Caribe y cuando llegues a Costeño Beach y entres a esa vía, dirígete a mano izquierda, a la playa Mendihuaca. </p>
        <a href="https://www.google.com/maps/place/11%C2%B016'51.1%22N+73%C2%B052'23.1%22W/@11.2823042,-73.8767413,17z/data=!4m7!1m2!2m1!1smendihuaca!3m3!8m2!3d11.280868!4d-73.873072?entry=ttu" class="boton-card">UBICACION AQUI</a>
        </div>
        <div class="ubicacion-mapa">
            <img src="../images/mendiubi.jpg" alt="">
        </div>
        </div>
    </div>
    <script src="../js/menu.js"></script>
<script src="../js/menu2.js"></script>
</body>
</html>