<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel-Nosotros</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="shortcut icon" href="../images/LOGO 04.png" type="image/x-icon">
</head>
<body>
    <article class="container__nav">
        <nav class="nav container">
            <div class="nav__logo">
                <h2 class="nav__title">
                    <a href="../index.html">TRAVELAND TOURISM.</a>
                </h2>
            </div>
            <div class="nav__menu-toggle">
                <img src="../images/menu.svg" class="nav__img" id="menu-toggle">
            </div>
            <ul class="nav__link nav__link--menu" id="nav-links">
                <li class="nav__items">
                    <a href="../index.html" class="nav__links">INICIO</a>
                </li>
                <li class="nav__items">
                    <a href="nuestro-equipo.html" class="nav__links">ACERCA DE</a>
                </li>
                <li class="nav__items">
                    <a href="#article__slider" class="nav__links">SITIOS-MES</a>
                </li>
                <li class="nav__items">
                    <a href="#redes__sociales" class="nav__links">CONTACTO</a>
                </li>
                <li class="nav__items">
                    <a href="spot.html" class="nav__links">SPOT</a>
                </li>
            </ul>
        </nav>
</article>

<article class="acerca-de">
    <div class="quienes__somos">
        <div class="titles">
        <h2>¿Quienes Somos?</h2>
        </div>
        <p class="paragraph">Somos un grupo de estudiantes con ideas en común, en este caso el turismo, queremos crear una
            conexión con las personas <br>y turistas sobre nuestra ciudad que tengan fácil acceso a información
            sobre sitios y lugares mágicos e inolvidables<br> de Santa Marta</p>
    </div>
</article>
    <div class="hr">
        <div></div>
    </div>
    <div class="titles">
    <h2 class="titles">NUESTROS OBJETIVOS</h2>
    </div>
    <div class="container__objetivos">
        <div class="cuadros">
            <div class="icon__logo">
                <img src="../images/LOGO 04.png" class="logo">
            </div>
            <h3 class="titles">Potenciar la Exploración de Lugares Olvidados</h3>
            <p class="paragraph-1">Implementar un sistema de información histórica, novedosa y actualizada para lugares menos visitados y/o subestimados.</p>
        </div>

        <div class="cuadros">
            <div class="icon__logo">
                <img src="../images/LOGO 04.png" class="logo">
            </div>
            <h3 class="titles"> Enriquecer Experiencias y Optimizar Planificación Turística</h3>
            <p class="paragraph-1">Mejorar la comprensión y disfrute de oyentes y visitantes mediante mejoras integrales, facilitando su experiencia y optimizando su planificación turística.</p>
        </div>

        <div class="cuadros">
            <div class="icon__logo">
                <img src="../images/LOGO 04.png" class="logo">
            </div>
            <h3 class="titles">Fomentar la Sostenibilidad y Eficiencia en la Gestión</h3>
            <p class="paragraph-1">Promover la toma de decisiones informadas a través de análisis de datos, garantizar el cumplimiento normativo y crear un ambiente de convivencia consciente y respetuoso entre diferentes grupos de visitantes, haciendo hincapié en la sostenibilidad ambiental..</p>
        </div>
    </div>

<div class="hr">
    <div></div>
</div>

<h2 class="titles">NUESTRO EQUIPO</h2>

    <div class="integrantes__container">
        <div class="integrantes__cuadro">
            <h3 class="nombres">Cliver Clavijo</h3>
            <h6 class="rol">Fundador</h6>
            <ul class="tags-btn">
                <li class="btn">
                    <a href="#" class="btnhref">Diseño web</a>
                </li>
                <li class="btn">
                    <a href="#" class="btnhref">Investigacion</a>
                </li>
            </ul>
        </div>

        <div class="integrantes__cuadro">
            <h3 class="nombres">Jader barranco</h3>
            <h6 class="rol">CO-Fundador</h6>
            <ul class="tags-btn">
                <li class="btn">
                    <a href="#" class="btnhref">Diseño Web</a>
                </li>
                <li class="btn">
                    <a href="#" class="btnhref">Fotografo</a>
                </li>
            </ul>
        </div>

        <div class="integrantes__cuadro">
            <h3 class="nombres">Santiago Peinado</h3>
            <h6 class="rol">Integrante</h6>
            <ul class="tags-btn">
                <li class="btn">
                    <a href="#" class="btnhref">CM</a>
                </li>
                <li class="btn">
                    <a href="#" class="btnhref">Investigacion</a>
                </li>
            </ul>
        </div>

        <div class="integrantes__cuadro">
            <h3 class="nombres">Stix Polo</h3>
            <h6 class="rol">Integrante</h6>
            <ul class="tags-btn">
                <li class="btn">
                    <a href="#" class="btnhref">CM</a>
                </li>
                <li class="btn">
                    <a href="#" class="btnhref">Investigacion</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="integrantes__container">
        <div class="integrantes__cuadro">
            <h3 class="nombres">Luis Tinoco</h3>
            <h6 class="rol">Integrante</h6>
            <ul class="tags-btn">
                <li class="btn">
                    <a href="#" class="btnhref">Investigacion</a>
                </li>
            </ul>
        </div>

        <div class="integrantes__cuadro">
            <h3 class="nombres">Stephany Caiaffa</h3>
            <h6 class="rol">Lider-Fotografia</h6>
            <ul class="tags-btn">
                <li class="btn">
                    <a href="#" class="btnhref">Fotografa</a>
                </li>
                <li class="btn">
                    <a href="#" class="btnhref">Investigacion</a>
                </li>
            </ul>
        </div>

        <div class="integrantes__cuadro">
            <h3 class="nombres">Jorge Perez</h3>
            <h6 class="rol">Lider-investigacion</h6>
            <ul class="tags-btn">
                <li class="btn">
                    <a href="#" class="btnhref">Investigacion</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="hr">
        <div></div>
    </div>

    <section id="redes__sociales">
        <div class="container__red">
        <h1 class="redes__title">NUESTRAS REDES</h1>
            <p class="redes__paragraph">¡Contactanos para cualquier duda! recuerda seguirnos en nuestras redes para encontrar mas informacion y a menudo haremos sorteos dinamicas y de mas.</p>

            <div class="div__red">

            <article class="redes__s">
                <a href="https://instagram.com/travelandsm?igshid=MzRlODBiNWFlZA==" class="red__ig"><img src="../images/insta.svg" class="redes__icon"></a>
            <h2 class="redes__subtitle">INSTAGRAM</h2>
        </article>

        <article class="redes__s">
            <a href="https://www.facebook.com/profile.php?id=100094088091725&mibextid=ZbWKwL" class="red__ig"><img src="../images/facebook.svg" class="redes__icon"></a>
            <h2 class="redes__subtitle">FACEBOOK</h2>
        </article>
        
        <article class="redes__s">
            <a href="https://twitter.com/travelandsmx?t=6DPihAroCVdsHvAMGDnGUQ&s=09" class="red__ig"><img src="../images/twitter.svg" class="redes__icon"></a>
            <h2 class="redes__subtitle">TWITTER</h2>
        </article>
    </div>
        </div>
    </section>
    <script src="../js/menu2.js"></script>
</body>
</html>