<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playa Blanca</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="css/superheadermobile.css">

    <link rel="shortcut icon" href="../images/LOGO 04.png" type="image/x-icon">
</head>
<body>
    <article class="container__nav">
        <nav id="container-nav" class="nav container">
            <div class="nav__logo">
                <h2 class="nav__title">
                    <a href="../index.html">TRAVELAND TOURISM.</a>
                </h2>
            </div>
            <div class="nav__menu-toggle">
                <img src="../images/menu.svg" class="nav__img" id="menu-toggle">
            </div>
            <ul class="nav__link nav__link--menu" id="nav-links">
                <li class="nav__items">
                    <a href="../index.html" class="nav__links">INICIO</a>
                </li>
                <li class="nav__items">
                    <a href="nuestro-equipo.html" class="nav__links">ACERCA DE</a>
                </li>
                <li class="nav__items">
                    <a href="#article__slider" class="nav__links">SITIOS-MES</a>
                </li>
                <li class="nav__items">
                    <a href="#redes__sociales" class="nav__links">CONTACTO</a>
                </li>
                <li class="nav__items">
                    <a href="spot.html" class="nav__links">SPOT</a>
                </li>
            </ul>
        </nav>
</article>

<div class="header-playablanca">
    <h2 class="title-banner">PLAYA BLANCA</h2>
    <div class="playablancahr"></div>
    <div class="containerfoto-playablanca">
        <img src="../images/playablanca-banner.jpg" class="foto-playablanca">
        </div>
    </div>
    

<div class="description-playablanca">
    <div class="paragraph-container2">
        <p class="paragraph-playablanca">Playa Blanca es una de las playas más populares y hermosas de Santa Marta, ubicada cerca de
            El Rodadero. Esta espectacular playa destaca por su arena blanca y aguas cristalinas, lo que la
            convierte en el lugar perfecto para relajarse, disfrutar del sol y practicar deportes acuáticos.</p>
            <div class="playablancahf"></div>
    </div>
    <div class="container-foto">
        <img src="/images/Playa Blanca descri.jpg" class="foto-description">
    </div>
</div>

<div class="comollegar-container">
    <p class="description-llegar">Para llegar a Playa Blanca, hay dos opciones principales: en autobús o en taxi, hasta El Rodadero.</p>
</div>
<div class="flexopciones">  
        <div class="opciones-llegar">
            <h3 class="title-opcion">Autobús desde Santa Marta a El Rodadero.</h3>
            <ul>
                <li>Costo: $2,300 COP ($0.5 USD).</li>
                <li>Existen varias rutas de autobús, busca la que tenga el letrero o tablilla que dice "Rodadero".</li>
                <li>Una vez en El Rodadero, camina en dirección occidental hacia la playa, lo cual te tomará aproximadamente 10 minutos.</li>
            </ul>

        </div>
        <div class="opciones-llegar">
            <h3 class="title-opcion">Taxi desde Santa Marta a El Rodadero.</h3>
            <ul>
                <li>Costo aproximado del taxi: $15,000 COP.</li>
                <li>El recorrido en taxi desde el centro de la ciudad hasta El Rodadero tomará aproximadamente 20 minutos.</li>
            </ul>
    </div>
    
</div>
<div class="section2">
<h2 class="title-rodadero">Desde el Rodadero a Casa Blanca</h2>
<p class="info-llegar">Una vez que estés en El Rodadero, el siguiente paso para llegar a Playa Blanca es buscar el
    transporte por mar que te llevará hasta allí, para esto tienes dos opciones: la empresa Taxi
    Marino y la asociación de lancheros.</p>
</div>

<div class="flexopciones2">
    <div class="contenedor-opciones">
    <ul>
        <li>La empresa Taxi Marino, con horarios de transporte a partir de las 8:30 am en temporada alta, saliendo cada 30 minutos hasta las 14:00 pm. Para regresar al punto de origen, los recorridos son a partir de las 15:30 pm hasta las 16:30 pm.</li>
    </ul>
    <ul>
        <li>La Asociación de Lancheros también ofrece servicios de transporte por mar hacia Playa Blanca.</li>
    </ul>
</div>
</div>

<div class="precios-container-playa">
    <h2 class="precios-title-playa">Precios</h2>
    <div class="precios-info-playa">
        <p>Los precios dependen de la temporada y las actividades que quieras hacer, por lo que este no es un presupuesto exacto, pero sí la estimación más actualizada para que vayas bien programado a este destino:</p>
        <ul>
            <li>Transporte en lancha: $10.000 COP (2,3 USD) por trayecto</li>
            <li>Transporte acuático Taxi Marino: $25.000 COP (5,7 USD) ida y vuelta</li>
            <li>Almuerzo: desde $35.000 COP (8 USD)</li>
        </ul>
    </div>
</div>

</body>
</html>