<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>playa Cristal</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="../css/newstyle.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="shortcut icon" href="../images/LOGO 04.png" type="image/x-icon">
</head>

<body>
    <article class="container__nav">
        <nav id="container-nav" class="nav container">
            <div class="nav__logo">
                <h2 class="nav__title">
                    <a href="../index.html">TRAVELAND TOURISM.</a>
                </h2>
            </div>
            <div  class="nav__menu-toggle">
                <img src="../images/menu.svg" class="nav__img" id="menu-toggle">
            </div>
            <ul class="nav__link nav__link--menu" id="nav-links">
                <li class="nav__items">
                    <a href="../index.html" class="nav__links">INICIO</a>
                </li>
                <li class="nav__items">
                    <a href="nuestro-equipo.html" class="nav__links">ACERCA DE</a>
                </li>
                <li class="nav__items">
                    <a href="#article__slider" class="nav__links">SITIOS-MES</a>
                </li>
                <li class="nav__items">
                    <a href="#redes__sociales" class="nav__links">CONTACTO</a>
                </li>
                <!--
                    <li class="nav__items">
                        <a href="spot.html" class="nav__links">SPOT</a>
                    </li>

                -->
            </ul>
        </nav>
    </article>
    <div id="ImageSectionMenuCristal" class="SectionMenu">
        <h1>PLAYA CRISTAL</h1>
        <div class="hrcristal"></div>
        <p>Una playa la cual puedes descubrir muchos tesoros a lo largo del recorrido..</p>
    </div>
    <div id="InfoPCristal" class="InfoP">
        <p>Playa Cristal se encuentra en el Parque Nacional Natural Tayrona en Santa Marta, es uno de los
            destinos preferidos por los turistas. <br> Según los resultados del Traveller’s Choice
            2019 de TripAdvisor, es una de las favoritas de Sudamérica por su belleza, su agua cristalina,
            arena blanca, la tranquilidad que hay en ella, entre otras razones que hacen que los viajeros la
            describan como el paraíso.</p>
        <div class="hrcristal"></div>
    </div>
    <div class="ubication">
        <div class="InfoBeach">
            <p class="TittleBeach">COMO UBICO ESTA PLAYA?</p>
            <div class="hrcristal"></div>
            <div>
                <p>Ubicada a unos 30 kilómetros del Centro Histórico de Santa Marta, Playa Cristal es una joya
                    natural que se encuentra dentro del Parque Nacional Tayrona, en la costa caribeña de
                    Colombia. Esta playa se encuentra en la Bahía de Neguanje, rodeada de un abundante bosque
                    tropical.</p>
            </div>
        </div>
        <div id="imageUbicationNone" class="imageUbicationCristal">
            <img src="" alt="">
        </div>
    </div>
    <div class="HowGo">
        <p>COMO LLEGAR A ESTA MARAVILLOSA PLAYA?</p>
    </div>
    <div class="MoreInfo">
        <div id="InfoCristal" class="InfoOne">
            <p>NAVEGANDO EN BOTE...</p>
            <div class="hrcristal"></div>
            <p>Desde el muelle norte de El Rodadero, abordarás el bote que te llevará directamente a Playa
                Cristal. El recorrido dura aproximadamente una hora y durante el camino podrás conocer
                lugares como la Bahía de Gaira, Playa Inca Inca, Playa Blanca, la Bahía de Santa Marta, Bahía
                Concha, Taganga y la Bahía de Neguanje.</p>
        </div>
        <div id="InfoCristal" class="InfoTwo">
            <p>POR TIERRA Y UN CORTO TRAYECTO EN LANCHA</p>
            <div class="hrcristal"></div>
            <p>Esta es la forma más común de llegar a Playa Cristal. Para comenzar, debes tomar la carretera
                Troncal del Caribe con dirección a La Guajira hasta llegar a la entrada de Neguanje, a menos de
                1 kilómetro del peaje. A partir de aquí, toma la carretera que va hasta la Playa de Neguanje
                (esta vía también es conocida como vía a Palangana) y en unos 20 minutos llegarás a la garita
                principal donde podrás pagar la entrada y el seguro de asistencia médica del Parque Tayrona.</p>

            <p>Ten en cuenta que la vía desde la Troncal del Caribe hasta Neguanje no está pavimentada, así
                que es importante conducir con cuidado, especialmente si visitas el parque durante la
                temporada de lluvias.</p>
        </div>

    </div>
    <div id="NoteCristal" class="Note">
        <div id="InfoNoteCristal" class="InfoNote">
            <p class="TextWeight">
                NOTA PARA LA LLEGADA...
            </p>
            <p>Para llegar a la entrada del Parque Tayrona, puedes tomar un bus desde el mercado público de
                Santa Marta, te cobrará aproximadamente $12.000 COP el trayecto (ida) y te dejará en la
                entrada, para que de allí tomes una lancha en Playa Neguanje que te lleve a playa crista</p>
        </div>
        <div id="InfoNoteTwoCristal" class="InfoNoteTwo">
            <div class="GridNote">
                <p class="TextWeight">
                    Precios y Tarifas actualizadas 2023
                </p>
                    <ol>
                        <li>
                            Menores de 25 años: $21.000 por persona.
                        </li>
                        <li>
                             Ciudadanos extranjeros: $62.000 por persona.
                        </li>
                        <li>
                             Ingreso de busetas: $89.500.
                        </li>
                        <li>
                            Persona nacida en Santa Marta, menor de 25 años: $10.500.
                        </li>
                        <li>
                             Persona nacida en Santa Marta, mayor de 25 años: $13.500
                        </li>
                    </ol>
            </div>
            
        </div>
    </div>
    <script src="../js/menu.js"></script>
<script src="../js/menu2.js"></script>
</body>

</html>