<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/LOGO 04.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <title>Sitios-Travel</title>
</head>
<body>
    <article class="container__nav">
        <nav class="nav container">
            <div class="nav__logo">
                <h2 class="nav__title">TRAVELAND TOURISM.</h2>
            </div>
            <div class="nav__menu-toggle">
                <img src="../images/menu.svg" class="nav__img" id="menu-toggle">
            </div>
            <ul class="nav__link nav__link--menu" id="nav-links">
                <li class="nav__items">
                    <a href="../index.html" class="nav__links">INICIO</a>
                </li>
                <li class="nav__items">
                    <a href="nuestro-equipo.html" class="nav__links">ACERCA DE</a>
                </li>
                <li class="nav__items">
                    <a href="#article__slider" class="nav__links">SITIOS-MES</a>
                </li>
                <li class="nav__items">
                    <a href="#redes__sociales" class="nav__links">CONTACTO</a>
                </li>
                <li class="nav__items">
                    <a href="spot.html" class="nav__links">SPOT</a>
                </li>
            </ul>
        </nav>
</article>
        
    <div class="container__2">
        <div class="card">
            <figure>
                <img src="../images/mendihuaca-caribbean (1).jpg" alt="">
            </figure>
            <div class="contenido">
                <h3>Mendihuaca</h3>
                <p>un resort que cuenta con una ubicación privilegiada a las hermosas maravillas naturales de Santa Marta</p>
                <a href="mendihuaca.html">Explora Mas</a>
            </div>
        </div>

        <div class="card">
            <figure>
                <img src="../images/chunnu.jpg" alt="">
            </figure>
            <div class="contenido">
                <h3>Chunnu</h3>
                <p>En un rincón paradisíaco a la orilla del río de Minca, se encuentra un refugio que trasciende los límites del alojamiento convencional. </p>
                <a href="chunnu.html">Explora Mas</a>
            </div>
        </div>

        <div class="card">
            <figure>
                <img src="../images/rodadero.jpg" alt="">
            </figure>
            <div class="contenido">
                <h3>Playas Paradisiacas</h3>
                <p>Informacion sobre playas increibles en Santa Marta donde puedes abarcar un buen verano en estas. </p>
                <a href="rodadero.html">Explora Mas</a>
            </div>
        </div>
    </div>
    <script src="../js/menu2.js"></script>

</body>
</html>