<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/LOGO 04.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/newstyle.css">

    <link rel="stylesheet" href="../css/superheadermobile.css">
    <title>Sitios-Travel</title>
</head>
<body>
    <article class="container__nav">
        <nav id="container-nav" class="nav container">
            <div class="nav__logo">
                <h2 class="nav__title">
                    <a href="../index.html">TRAVELAND TOURISM.</a>
                </h2>
            </div>
            <div class="nav__menu-toggle">
                <img src="../images/menu.svg" class="nav__img" id="menu-toggle">
            </div>
            <ul class="nav__link nav__link--menu" id="nav-links">
                <li class="nav__items">
                    <a href="../index.html" class="nav__links">INICIO</a>
                </li>
                <li class="nav__items">
                    <a href="nuestro-equipo.html" class="nav__links">ACERCA DE</a>
                </li>
                <li class="nav__items">
                    <a href="#article__slider" class="nav__links">SITIOS-MES</a>
                </li>
                <li class="nav__items">
                    <a href="#redes__sociales" class="nav__links">CONTACTO</a>
                </li>
            <!--
                <li class="nav__items">
                    <a href="spot.html" class="nav__links">SPOT</a>
                </li>

            -->

            </ul>
        </nav>
</article>
        
    <div class="container__2">
        <div class="card">
            <figure>
                <img src="../images/mendihuaca-caribbean (1).jpg" alt="">
            </figure>
            <div class="contenido">
                <h3>Mendihuaca</h3>
                <p>un resort que cuenta con una ubicación privilegiada a las hermosas maravillas naturales de Santa Marta</p>
                <a href="mendihuaca.html">Explora Mas</a>
            </div>
        </div>

        <div class="card">
            <figure>
                <img src="../images/chunnu.jpg" alt="">
            </figure>
            <div class="contenido">
                <h3>Chunnu</h3>
                <p>En un rincón paradisíaco a la orilla del río de Minca, se encuentra un refugio que trasciende los límites del alojamiento convencional. </p>
                <a href="chunnu.html">Explora Mas</a>
            </div>
        </div>

        <div class="card">
            <figure>
                <img src="../images/rodadero.jpg" alt="">
            </figure>
            <div class="contenido">
                <h3>Playas Paradisiacas</h3>
                <p>Informacion sobre playas increibles en Santa Marta donde puedes abarcar un buen verano en estas. </p>
                <a href="rodadero.html">Explora Mas</a>
            </div>
        </div>

        <div class="card">
            <figure>
                <img src="../images/playa cristal.jpg" alt="">
            </figure>
            <div class="contenido">
                <h3>Playa Cristal</h3>
                <p>Playa Cristal es una hermosa playa ubicada en el Parque Nacional Natural Tayrona en Santa Marta, Colombia</p>
                <a href="playacristal.html">Explora Mas</a>
            </div>
        </div>

        <div class="card">
            <figure>
                <img src="../images/playa blanca.jpg" alt="">
            </figure>
            <div class="contenido">
                <h3>Playa Blanca</h3>
                <p>Playa Blanca es una de las playas más populares y hermosas de Santa Marta, ubicada cerca de
                    El Rodadero.</p>
                <a href="playablanca.html">Explora Mas</a>
            </div>
        </div>

        <div class="card">
            <figure>
                <img src="../images/playa cinto.jpg" alt="">
            </figure>
            <div class="contenido">
                <h3>Playa Cinto</h3>
                <p>Lugares de ensueño en el Parque Tayrona hay de sobra. Uno de ellos es playa Cinto, donde el azul del cielo despejado se refleja en el espejo del agua, en calma como una piscina, que remoja la arena casi amarilla de la playa.  </p>
                <a href="playacinto.html">Explora Mas</a>
            </div>
        </div>

        <div class="card">
            <figure>
                <img src="../images/rodadero.jpg" alt="">
            </figure>
            <div class="contenido">
                <h3>Buritaca</h3>
                <p>Buritaca es un estuario, aquel lugar en donde confluye la desembocadura de un río con el agua
                    salada del mar </p>
                <a href="buritaca.html">Explora Mas</a>
            </div>
        </div>
    </div>
    <script src="../js/menu.js"></script>
<script src="../js/menu2.js"></script>

</body>
</html>